---
title: dorito's SwSh stash
---
<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href={{ "/assets/images/favicon.ico?" | relative_url }}>
    <link rel="stylesheet" href={{ "/assets/css/styles.css" | relative_url }}>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8">
  </head>
  <body>
    <div id="wrapper">
      <h1 id="site-name">{{ page.title }}</h1>
      <div id="content">
				<table>
					<thead>
						<tr>
              <th>Pokemon</th>
							<th></th>
							<th>Natures</th>
							<th>Ability</th>
							<th>Egg moves</th>
							<th>Ball</th>
						</tr>
					</thead>
					<tbody>
				    {% for item in site.data.list %}
						<tr>
              <td><span class="pokemon-{% if item.sprite %}{{ item.sprite }}{% else %}{{ item.pokemon | downcase }}{% endif %}"></span></td>
							<td>{{ item.pokemon }}</td>
				      <td>{{ item.nature }}</td>
				      <td>{{ item.ability }}</td>
				      <td>{{ item.egg_moves }}</td>
				      <td><span class="ball-{{ item.ball | downcase }}" title="{{ item.ball }} ball"></span></td>
						</tr>
				    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
