* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #303030;
  color: #DDD;
  font-size: .95em;
}

#wrapper {
  max-width: 90%;
  margin: 70px auto;
}

#content {
  padding: 40px;
  background-color: #424242;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.5);
}

#site-name {
  font: 400 28px "Calibri", sans-serif;
  font-variant: small-caps;
  text-shadow: 1px 1px #000;
  margin: 5px 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid;
}

th {
  text-align: left;
}

th, td {
  vertical-align: bottom;
}

td:first-of-type {
    width: 1%;
}

td:nth-of-type(5) {
    width: 40%;
}
