[class^="ball"] {
    background-image: url($ballsheet);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    margin: -6px;
}

.ball-beast{background-position:0 0}
.ball-cherish{background-position:-32px 0}
.ball-dive{background-position:-64px 0}
.ball-dream{background-position:-96px 0}
.ball-dusk{background-position:-128px 0}
.ball-fast{background-position:-160px 0}
.ball-friend{background-position:-192px 0}
.ball-great{background-position:-224px 0}
.ball-heal{background-position:-256px 0}
.ball-heavy{background-position:-288px 0}
.ball-level{background-position:-320px 0}
.ball-love{background-position:-352px 0}
.ball-lure{background-position:-384px 0}
.ball-luxury{background-position:-416px 0}
.ball-master{background-position:-448px 0}
.ball-moon{background-position:-480px 0}
.ball-nest{background-position:-512px 0}
.ball-net{background-position:-544px 0}
.ball-park{background-position:-576px 0}
.ball-poke{background-position:-608px 0}
.ball-premier{background-position:-640px 0}
.ball-quick{background-position:-672px 0}
.ball-repeat{background-position:-704px 0}
.ball-safari{background-position:-736px 0}
.ball-sport{background-position:-768px 0}
.ball-timer{background-position:-800px 0}
.ball-ultra{background-position:-832px 0}

[class^="pokemon"] {
    background-image: url($pokesheet);
    background-repeat: no-repeat;
    display: block;
    width: 68px;
    height: 56px;
    margin: -10px 0;
}

.pokemon-bulbasaur {background-position:-68px 0}
.pokemon-ivysaur {background-position:-136px 0}
.pokemon-venusaur {background-position:-204px 0}
.pokemon-charmander {background-position:-272px 0}
.pokemon-charmeleon {background-position:-340px 0}
.pokemon-charizard {background-position:-408px 0}
.pokemon-squirtle {background-position:-476px 0}
.pokemon-wartortle {background-position:-544px 0}
.pokemon-blastoise {background-position:-612px 0}
.pokemon-caterpie {background-position:-680px 0}
.pokemon-metapod {background-position:-748px 0}
.pokemon-butterfree {background-position:-816px 0}
.pokemon-pikachu {background-position:-884px 0}
.pokemon-raichu {background-position:-952px 0}
.pokemon-raichu-alola {background-position:-1020px 0}
.pokemon-clefairy {background-position:-1088px 0}
.pokemon-clefable {background-position:-1156px 0}
.pokemon-vulpix {background-position:-1224px 0}
.pokemon-vulpix-alola {background-position:-1292px 0}
.pokemon-ninetales {background-position:-1360px 0}
.pokemon-ninetales-alola {background-position:0 -56px}
.pokemon-oddish {background-position:-68px -56px}
.pokemon-gloom {background-position:-136px -56px}
.pokemon-vileplume {background-position:-204px -56px}
.pokemon-diglett {background-position:-272px -56px}
.pokemon-diglett-alola {background-position:-340px -56px}
.pokemon-dugtrio {background-position:-408px -56px}
.pokemon-dugtrio-alola {background-position:-476px -56px}
.pokemon-meowth {background-position:-544px -56px}
.pokemon-meowth-alola {background-position:-612px -56px}
.pokemon-meowth-galar {background-position:-680px -56px}
.pokemon-persian {background-position:-748px -56px}
.pokemon-persian-alola {background-position:-816px -56px}
.pokemon-growlithe {background-position:-884px -56px}
.pokemon-arcanine {background-position:-952px -56px}
.pokemon-machop {background-position:-1020px -56px}
.pokemon-machoke {background-position:-1088px -56px}
.pokemon-machamp {background-position:-1156px -56px}
.pokemon-ponyta {background-position:-1224px -56px}
.pokemon-ponyta-galar {background-position:-1292px -56px}
.pokemon-rapidash {background-position:-1360px -56px}
.pokemon-rapidash-galar {background-position:0 -112px}
.pokemon-farfetchd {background-position:-68px -112px}
.pokemon-farfetchd-galar {background-position:-136px -112px}
.pokemon-shellder {background-position:-204px -112px}
.pokemon-cloyster {background-position:-272px -112px}
.pokemon-gastly {background-position:-340px -112px}
.pokemon-haunter {background-position:-408px -112px}
.pokemon-gengar {background-position:-476px -112px}
.pokemon-onix {background-position:-544px -112px}
.pokemon-krabby {background-position:-612px -112px}
.pokemon-kingler {background-position:-680px -112px}
.pokemon-hitmonlee {background-position:-748px -112px}
.pokemon-hitmonchan {background-position:-816px -112px}
.pokemon-koffing {background-position:-884px -112px}
.pokemon-weezing {background-position:-952px -112px}
.pokemon-weezing-galar {background-position:-1020px -112px}
.pokemon-rhyhorn {background-position:-1088px -112px}
.pokemon-rhydon {background-position:-1156px -112px}
.pokemon-goldeen {background-position:-1224px -112px}
.pokemon-seaking {background-position:-1292px -112px}
.pokemon-mr-mime {background-position:-1360px -112px}
.pokemon-mr-mime-galar {background-position:0 -168px}
.pokemon-magikarp {background-position:-68px -168px}
.pokemon-gyarados {background-position:-136px -168px}
.pokemon-lapras {background-position:-204px -168px}
.pokemon-ditto {background-position:-272px -168px}
.pokemon-eevee {background-position:-340px -168px}
.pokemon-vaporeon {background-position:-408px -168px}
.pokemon-jolteon {background-position:-476px -168px}
.pokemon-flareon {background-position:-544px -168px}
.pokemon-snorlax {background-position:-612px -168px}
.pokemon-mewtwo {background-position:-680px -168px}
.pokemon-mew {background-position:-748px -168px}
.pokemon-hoothoot {background-position:-816px -168px}
.pokemon-noctowl {background-position:-884px -168px}
.pokemon-chinchou {background-position:-952px -168px}
.pokemon-lanturn {background-position:-1020px -168px}
.pokemon-pichu {background-position:-1088px -168px}
.pokemon-cleffa {background-position:-1156px -168px}
.pokemon-togepi {background-position:-1224px -168px}
.pokemon-togetic {background-position:-1292px -168px}
.pokemon-natu {background-position:-1360px -168px}
.pokemon-xatu {background-position:0 -224px}
.pokemon-bellossom {background-position:-68px -224px}
.pokemon-sudowoodo {background-position:-136px -224px}
.pokemon-wooper {background-position:-204px -224px}
.pokemon-quagsire {background-position:-272px -224px}
.pokemon-espeon {background-position:-340px -224px}
.pokemon-umbreon {background-position:-408px -224px}
.pokemon-wobbuffet {background-position:-476px -224px}
.pokemon-steelix {background-position:-544px -224px}
.pokemon-qwilfish {background-position:-612px -224px}
.pokemon-shuckle {background-position:-680px -224px}
.pokemon-sneasel {background-position:-748px -224px}
.pokemon-swinub {background-position:-816px -224px}
.pokemon-piloswine {background-position:-884px -224px}
.pokemon-corsola {background-position:-952px -224px}
.pokemon-corsola-galar {background-position:-1020px -224px}
.pokemon-remoraid {background-position:-1088px -224px}
.pokemon-octillery {background-position:-1156px -224px}
.pokemon-delibird {background-position:-1224px -224px}
.pokemon-mantine {background-position:-1292px -224px}
.pokemon-tyrogue {background-position:-1360px -224px}
.pokemon-hitmontop {background-position:0 -280px}
.pokemon-larvitar {background-position:-68px -280px}
.pokemon-pupitar {background-position:-136px -280px}
.pokemon-tyranitar {background-position:-204px -280px}
.pokemon-celebi {background-position:-272px -280px}
.pokemon-zigzagoon {background-position:-340px -280px}
.pokemon-zigzagoon-galar {background-position:-408px -280px}
.pokemon-linoone {background-position:-476px -280px}
.pokemon-linoone-galar {background-position:-544px -280px}
.pokemon-lotad {background-position:-612px -280px}
.pokemon-lombre {background-position:-680px -280px}
.pokemon-ludicolo {background-position:-748px -280px}
.pokemon-seedot {background-position:-816px -280px}
.pokemon-nuzleaf {background-position:-884px -280px}
.pokemon-shiftry {background-position:-952px -280px}
.pokemon-wingull {background-position:-1020px -280px}
.pokemon-pelipper {background-position:-1088px -280px}
.pokemon-ralts {background-position:-1156px -280px}
.pokemon-kirlia {background-position:-1224px -280px}
.pokemon-gardevoir {background-position:-1292px -280px}
.pokemon-nincada {background-position:-1360px -280px}
.pokemon-ninjask {background-position:0 -336px}
.pokemon-shedinja {background-position:-68px -336px}
.pokemon-sableye {background-position:-136px -336px}
.pokemon-mawile {background-position:-204px -336px}
.pokemon-electrike {background-position:-272px -336px}
.pokemon-manectric {background-position:-340px -336px}
.pokemon-roselia {background-position:-408px -336px}
.pokemon-wailmer {background-position:-476px -336px}
.pokemon-wailord {background-position:-544px -336px}
.pokemon-torkoal {background-position:-612px -336px}
.pokemon-trapinch {background-position:-680px -336px}
.pokemon-vibrava {background-position:-748px -336px}
.pokemon-flygon {background-position:-816px -336px}
.pokemon-lunatone {background-position:-884px -336px}
.pokemon-solrock {background-position:-952px -336px}
.pokemon-barboach {background-position:-1020px -336px}
.pokemon-whiscash {background-position:-1088px -336px}
.pokemon-corphish {background-position:-1156px -336px}
.pokemon-crawdaunt {background-position:-1224px -336px}
.pokemon-baltoy {background-position:-1292px -336px}
.pokemon-claydol {background-position:-1360px -336px}
.pokemon-feebas {background-position:0 -392px}
.pokemon-milotic {background-position:-68px -392px}
.pokemon-duskull {background-position:-136px -392px}
.pokemon-dusclops {background-position:-204px -392px}
.pokemon-wynaut {background-position:-272px -392px}
.pokemon-snorunt {background-position:-340px -392px}
.pokemon-glalie {background-position:-408px -392px}
.pokemon-jirachi {background-position:-476px -392px}
.pokemon-budew {background-position:-544px -392px}
.pokemon-roserade {background-position:-612px -392px}
.pokemon-combee {background-position:-680px -392px}
.pokemon-vespiquen {background-position:-748px -392px}
.pokemon-cherubi {background-position:-816px -392px}
.pokemon-cherrim {background-position:-884px -392px}
.pokemon-cherrim-sunshine {background-position:-952px -392px}
.pokemon-shellos {background-position:-1020px -392px}
.pokemon-shellos-east {background-position:-1088px -392px}
.pokemon-gastrodon {background-position:-1156px -392px}
.pokemon-gastrodon-east {background-position:-1224px -392px}
.pokemon-drifloon {background-position:-1292px -392px}
.pokemon-drifblim {background-position:-1360px -392px}
.pokemon-stunky {background-position:0 -448px}
.pokemon-skuntank {background-position:-68px -448px}
.pokemon-bronzor {background-position:-136px -448px}
.pokemon-bronzong {background-position:-204px -448px}
.pokemon-bonsly {background-position:-272px -448px}
.pokemon-mime-jr {background-position:-340px -448px}
.pokemon-munchlax {background-position:-408px -448px}
.pokemon-riolu {background-position:-476px -448px}
.pokemon-lucario {background-position:-544px -448px}
.pokemon-hippopotas {background-position:-612px -448px}
.pokemon-hippowdon {background-position:-680px -448px}
.pokemon-skorupi {background-position:-748px -448px}
.pokemon-drapion {background-position:-816px -448px}
.pokemon-croagunk {background-position:-884px -448px}
.pokemon-toxicroak {background-position:-952px -448px}
.pokemon-mantyke {background-position:-1020px -448px}
.pokemon-snover {background-position:-1088px -448px}
.pokemon-abomasnow {background-position:-1156px -448px}
.pokemon-weavile {background-position:-1224px -448px}
.pokemon-rhyperior {background-position:-1292px -448px}
.pokemon-togekiss {background-position:-1360px -448px}
.pokemon-leafeon {background-position:0 -504px}
.pokemon-glaceon {background-position:-68px -504px}
.pokemon-mamoswine {background-position:-136px -504px}
.pokemon-gallade {background-position:-204px -504px}
.pokemon-dusknoir {background-position:-272px -504px}
.pokemon-froslass {background-position:-340px -504px}
.pokemon-rotom {background-position:-408px -504px}
.pokemon-rotom-heat {background-position:-476px -504px}
.pokemon-rotom-wash {background-position:-544px -504px}
.pokemon-rotom-frost {background-position:-612px -504px}
.pokemon-rotom-fan {background-position:-680px -504px}
.pokemon-rotom-mow {background-position:-748px -504px}
.pokemon-purrloin {background-position:-816px -504px}
.pokemon-liepard {background-position:-884px -504px}
.pokemon-munna {background-position:-952px -504px}
.pokemon-musharna {background-position:-1020px -504px}
.pokemon-pidove {background-position:-1088px -504px}
.pokemon-tranquill {background-position:-1156px -504px}
.pokemon-unfezant {background-position:-1224px -504px}
.pokemon-roggenrola {background-position:-1292px -504px}
.pokemon-boldore {background-position:-1360px -504px}
.pokemon-gigalith {background-position:0 -560px}
.pokemon-woobat {background-position:-68px -560px}
.pokemon-swoobat {background-position:-136px -560px}
.pokemon-drilbur {background-position:-204px -560px}
.pokemon-excadrill {background-position:-272px -560px}
.pokemon-timburr {background-position:-340px -560px}
.pokemon-gurdurr {background-position:-408px -560px}
.pokemon-conkeldurr {background-position:-476px -560px}
.pokemon-tympole {background-position:-544px -560px}
.pokemon-palpitoad {background-position:-612px -560px}
.pokemon-seismitoad {background-position:-680px -560px}
.pokemon-throh {background-position:-748px -560px}
.pokemon-sawk {background-position:-816px -560px}
.pokemon-cottonee {background-position:-884px -560px}
.pokemon-whimsicott {background-position:-952px -560px}
.pokemon-basculin {background-position:-1020px -560px}
.pokemon-basculin-blue {background-position:-1088px -560px}
.pokemon-darumaka {background-position:-1156px -560px}
.pokemon-darumaka-galar {background-position:-1224px -560px}
.pokemon-darmanitan {background-position:-1292px -560px}
.pokemon-darmanitan-galar {background-position:-1360px -560px}
.pokemon-maractus {background-position:0 -616px}
.pokemon-dwebble {background-position:-68px -616px}
.pokemon-crustle {background-position:-136px -616px}
.pokemon-scraggy {background-position:-204px -616px}
.pokemon-scrafty {background-position:-272px -616px}
.pokemon-sigilyph {background-position:-340px -616px}
.pokemon-yamask {background-position:-408px -616px}
.pokemon-yamask-galar {background-position:-476px -616px}
.pokemon-cofagrigus {background-position:-544px -616px}
.pokemon-trubbish {background-position:-612px -616px}
.pokemon-garbodor {background-position:-680px -616px}
.pokemon-minccino {background-position:-748px -616px}
.pokemon-cinccino {background-position:-816px -616px}
.pokemon-gothita {background-position:-884px -616px}
.pokemon-gothorita {background-position:-952px -616px}
.pokemon-gothitelle {background-position:-1020px -616px}
.pokemon-solosis {background-position:-1088px -616px}
.pokemon-duosion {background-position:-1156px -616px}
.pokemon-reuniclus {background-position:-1224px -616px}
.pokemon-vanillite {background-position:-1292px -616px}
.pokemon-vanillish {background-position:-1360px -616px}
.pokemon-vanilluxe {background-position:0 -672px}
.pokemon-karrablast {background-position:-68px -672px}
.pokemon-escavalier {background-position:-136px -672px}
.pokemon-frillish {background-position:-204px -672px}
.pokemon-jellicent {background-position:-272px -672px}
.pokemon-joltik {background-position:-340px -672px}
.pokemon-galvantula {background-position:-408px -672px}
.pokemon-ferroseed {background-position:-476px -672px}
.pokemon-ferrothorn {background-position:-544px -672px}
.pokemon-klink {background-position:-612px -672px}
.pokemon-klang {background-position:-680px -672px}
.pokemon-klinklang {background-position:-748px -672px}
.pokemon-elgyem {background-position:-816px -672px}
.pokemon-beheeyem {background-position:-884px -672px}
.pokemon-litwick {background-position:-952px -672px}
.pokemon-lampent {background-position:-1020px -672px}
.pokemon-chandelure {background-position:-1088px -672px}
.pokemon-axew {background-position:-1156px -672px}
.pokemon-fraxure {background-position:-1224px -672px}
.pokemon-haxorus {background-position:-1292px -672px}
.pokemon-cubchoo {background-position:-1360px -672px}
.pokemon-beartic {background-position:0 -728px}
.pokemon-shelmet {background-position:-68px -728px}
.pokemon-accelgor {background-position:-136px -728px}
.pokemon-stunfisk {background-position:-204px -728px}
.pokemon-stunfisk-galar {background-position:-272px -728px}
.pokemon-golett {background-position:-340px -728px}
.pokemon-golurk {background-position:-408px -728px}
.pokemon-pawniard {background-position:-476px -728px}
.pokemon-bisharp {background-position:-544px -728px}
.pokemon-rufflet {background-position:-612px -728px}
.pokemon-braviary {background-position:-680px -728px}
.pokemon-vullaby {background-position:-748px -728px}
.pokemon-mandibuzz {background-position:-816px -728px}
.pokemon-heatmor {background-position:-884px -728px}
.pokemon-durant {background-position:-952px -728px}
.pokemon-deino {background-position:-1020px -728px}
.pokemon-zweilous {background-position:-1088px -728px}
.pokemon-hydreigon {background-position:-1156px -728px}
.pokemon-cobalion {background-position:-1224px -728px}
.pokemon-terrakion {background-position:-1292px -728px}
.pokemon-virizion {background-position:-1360px -728px}
.pokemon-reshiram {background-position:0 -784px}
.pokemon-zekrom {background-position:-68px -784px}
.pokemon-kyurem {background-position:-136px -784px}
.pokemon-kyurem-white {background-position:-204px -784px}
.pokemon-kyurem-black {background-position:-272px -784px}
.pokemon-keldeo {background-position:-340px -784px}
.pokemon-bunnelby {background-position:-408px -784px}
.pokemon-diggersby {background-position:-476px -784px}
.pokemon-pancham {background-position:-544px -784px}
.pokemon-pangoro {background-position:-612px -784px}
.pokemon-espurr {background-position:-680px -784px}
.pokemon-meowstic {background-position:-748px -784px}
.pokemon-meowstic-f {background-position:-816px -784px}
.pokemon-honedge {background-position:-884px -784px}
.pokemon-doublade {background-position:-952px -784px}
.pokemon-aegislash {background-position:-1020px -784px}
.pokemon-aegislash-blade {background-position:-1088px -784px}
.pokemon-spritzee {background-position:-1156px -784px}
.pokemon-aromatisse {background-position:-1224px -784px}
.pokemon-swirlix {background-position:-1292px -784px}
.pokemon-slurpuff {background-position:-1360px -784px}
.pokemon-inkay {background-position:0 -840px}
.pokemon-malamar {background-position:-68px -840px}
.pokemon-binacle {background-position:-136px -840px}
.pokemon-barbaracle {background-position:-204px -840px}
.pokemon-helioptile {background-position:-272px -840px}
.pokemon-heliolisk {background-position:-340px -840px}
.pokemon-sylveon {background-position:-408px -840px}
.pokemon-hawlucha {background-position:-476px -840px}
.pokemon-goomy {background-position:-544px -840px}
.pokemon-sliggoo {background-position:-612px -840px}
.pokemon-goodra {background-position:-680px -840px}
.pokemon-phantump {background-position:-748px -840px}
.pokemon-trevenant {background-position:-816px -840px}
.pokemon-pumpkaboo {background-position:-884px -840px}
.pokemon-gourgeist {background-position:-952px -840px}
.pokemon-bergmite {background-position:-1020px -840px}
.pokemon-avalugg {background-position:-1088px -840px}
.pokemon-noibat {background-position:-1156px -840px}
.pokemon-noivern {background-position:-1224px -840px}
.pokemon-rowlet {background-position:-1292px -840px}
.pokemon-dartrix {background-position:-1360px -840px}
.pokemon-decidueye {background-position:0 -896px}
.pokemon-litten {background-position:-68px -896px}
.pokemon-torracat {background-position:-136px -896px}
.pokemon-incineroar {background-position:-204px -896px}
.pokemon-popplio {background-position:-272px -896px}
.pokemon-brionne {background-position:-340px -896px}
.pokemon-primarina {background-position:-408px -896px}
.pokemon-grubbin {background-position:-476px -896px}
.pokemon-charjabug {background-position:-544px -896px}
.pokemon-vikavolt {background-position:-612px -896px}
.pokemon-cutiefly {background-position:-680px -896px}
.pokemon-ribombee {background-position:-748px -896px}
.pokemon-wishiwashi {background-position:-816px -896px}
.pokemon-wishiwashi-school {background-position:-884px -896px}
.pokemon-mareanie {background-position:-952px -896px}
.pokemon-toxapex {background-position:-1020px -896px}
.pokemon-mudbray {background-position:-1088px -896px}
.pokemon-mudsdale {background-position:-1156px -896px}
.pokemon-dewpider {background-position:-1224px -896px}
.pokemon-araquanid {background-position:-1292px -896px}
.pokemon-morelull {background-position:-1360px -896px}
.pokemon-shiinotic {background-position:0 -952px}
.pokemon-salandit {background-position:-68px -952px}
.pokemon-salazzle {background-position:-136px -952px}
.pokemon-stufful {background-position:-204px -952px}
.pokemon-bewear {background-position:-272px -952px}
.pokemon-bounsweet {background-position:-340px -952px}
.pokemon-steenee {background-position:-408px -952px}
.pokemon-tsareena {background-position:-476px -952px}
.pokemon-oranguru {background-position:-544px -952px}
.pokemon-passimian {background-position:-612px -952px}
.pokemon-wimpod {background-position:-680px -952px}
.pokemon-golisopod {background-position:-748px -952px}
.pokemon-pyukumuku {background-position:-816px -952px}
.pokemon-type-null {background-position:-884px -952px}
.pokemon-silvally {background-position:-952px -952px}
.pokemon-turtonator {background-position:-1020px -952px}
.pokemon-togedemaru {background-position:-1088px -952px}
.pokemon-mimikyu {background-position:-1156px -952px}
.pokemon-drampa {background-position:-1224px -952px}
.pokemon-dhelmise {background-position:-1292px -952px}
.pokemon-jangmo-o {background-position:-1360px -952px}
.pokemon-hakamo-o {background-position:0 -1008px}
.pokemon-kommo-o {background-position:-68px -1008px}
.pokemon-cosmog {background-position:-136px -1008px}
.pokemon-cosmoem {background-position:-204px -1008px}
.pokemon-solgaleo {background-position:-272px -1008px}
.pokemon-lunala {background-position:-340px -1008px}
.pokemon-necrozma {background-position:-408px -1008px}
.pokemon-necrozma-dusk-mane {background-position:-476px -1008px}
.pokemon-necrozma-dawn-wings {background-position:-544px -1008px}
.pokemon-marshadow {background-position:-612px -1008px}
.pokemon-zeraora {background-position:-680px -1008px}
.pokemon-meltan {background-position:-748px -1008px}
.pokemon-melmetal {background-position:-816px -1008px}
.pokemon-grookey {background-position:-884px -1008px}
.pokemon-thwackey {background-position:-952px -1008px}
.pokemon-rillaboom {background-position:-1020px -1008px}
.pokemon-scorbunny {background-position:-1088px -1008px}
.pokemon-raboot {background-position:-1156px -1008px}
.pokemon-cinderace {background-position:-1224px -1008px}
.pokemon-sobble {background-position:-1292px -1008px}
.pokemon-drizzile {background-position:-1360px -1008px}
.pokemon-inteleon {background-position:0 -1064px}
.pokemon-skwovet {background-position:-68px -1064px}
.pokemon-greedent {background-position:-136px -1064px}
.pokemon-rookidee {background-position:-204px -1064px}
.pokemon-corvisquire {background-position:-272px -1064px}
.pokemon-corviknight {background-position:-340px -1064px}
.pokemon-blipbug {background-position:-408px -1064px}
.pokemon-dottler {background-position:-476px -1064px}
.pokemon-orbeetle {background-position:-544px -1064px}
.pokemon-nickit {background-position:-612px -1064px}
.pokemon-thievul {background-position:-680px -1064px}
.pokemon-gossifleur {background-position:-748px -1064px}
.pokemon-eldegoss {background-position:-816px -1064px}
.pokemon-wooloo {background-position:-884px -1064px}
.pokemon-dubwool {background-position:-952px -1064px}
.pokemon-chewtle {background-position:-1020px -1064px}
.pokemon-drednaw {background-position:-1088px -1064px}
.pokemon-yamper {background-position:-1156px -1064px}
.pokemon-boltund {background-position:-1224px -1064px}
.pokemon-rolycoly {background-position:-1292px -1064px}
.pokemon-carkol {background-position:-1360px -1064px}
.pokemon-coalossal {background-position:0 -1120px}
.pokemon-applin {background-position:-68px -1120px}
.pokemon-flapple {background-position:-136px -1120px}
.pokemon-appletun {background-position:-204px -1120px}
.pokemon-silicobra {background-position:-272px -1120px}
.pokemon-sandaconda {background-position:-340px -1120px}
.pokemon-cramorant {background-position:-408px -1120px}
.pokemon-arrokuda {background-position:-476px -1120px}
.pokemon-barraskewda {background-position:-544px -1120px}
.pokemon-toxel {background-position:-612px -1120px}
.pokemon-toxtricity {background-position:-680px -1120px}
.pokemon-toxtricity-lowkey {background-position:-748px -1120px}
.pokemon-sizzlipede {background-position:-816px -1120px}
.pokemon-centiskorch {background-position:-884px -1120px}
.pokemon-clobbopus {background-position:-952px -1120px}
.pokemon-grapploct {background-position:-1020px -1120px}
.pokemon-sinistea {background-position:-1088px -1120px}
.pokemon-polteageist {background-position:-1156px -1120px}
.pokemon-hatenna {background-position:-1224px -1120px}
.pokemon-hattrem {background-position:-1292px -1120px}
.pokemon-hatterene {background-position:-1360px -1120px}
.pokemon-impidimp {background-position:0 -1176px}
.pokemon-morgrem {background-position:-68px -1176px}
.pokemon-grimmsnarl {background-position:-136px -1176px}
.pokemon-obstagoon {background-position:-204px -1176px}
.pokemon-perrserker {background-position:-272px -1176px}
.pokemon-cursola {background-position:-340px -1176px}
.pokemon-sirfetchd {background-position:-408px -1176px}
.pokemon-mr-rime {background-position:-476px -1176px}
.pokemon-runerigus {background-position:-544px -1176px}
.pokemon-milcery {background-position:-612px -1176px}
.pokemon-alcremie {background-position:-680px -1176px}
.pokemon-falinks {background-position:-748px -1176px}
.pokemon-pincurchin {background-position:-816px -1176px}
.pokemon-snom {background-position:-884px -1176px}
.pokemon-frosmoth {background-position:-952px -1176px}
.pokemon-stonjourner {background-position:-1020px -1176px}
.pokemon-eiscue {background-position:-1088px -1176px}
.pokemon-indeedee {background-position:-1156px -1176px}
.pokemon-indeedee-f {background-position:-1224px -1176px}
.pokemon-morpeko {background-position:-1292px -1176px}
.pokemon-cufant {background-position:-1360px -1176px}
.pokemon-copperajah {background-position:0 -1232px}
.pokemon-dracozolt {background-position:-68px -1232px}
.pokemon-arctozolt {background-position:-136px -1232px}
.pokemon-dracovish {background-position:-204px -1232px}
.pokemon-arctovish {background-position:-272px -1232px}
.pokemon-duraludon {background-position:-340px -1232px}
.pokemon-dreepy {background-position:-408px -1232px}
.pokemon-drakloak {background-position:-476px -1232px}
.pokemon-dragapult {background-position:-544px -1232px}
.pokemon-zacian {background-position:-612px -1232px}
.pokemon-zacian-crowned {background-position:-680px -1232px}
.pokemon-zamazenta {background-position:-748px -1232px}
.pokemon-zamazenta-crowned {background-position:-816px -1232px}
.pokemon-eternatus {background-position:-884px -1232px}
.pokemon-charizard-giga {background-position:-952px -1232px}
.pokemon-butterfree-giga {background-position:-1020px -1232px}
.pokemon-pikachu-giga {background-position:-1088px -1232px}
.pokemon-meowth-giga {background-position:-1156px -1232px}
.pokemon-machamp-giga {background-position:-1224px -1232px}
.pokemon-gengar-giga {background-position:-1292px -1232px}
.pokemon-kingler-giga {background-position:-1360px -1232px}
.pokemon-lapras-giga {background-position:0 -1288px}
.pokemon-eevee-giga {background-position:-68px -1288px}
.pokemon-snorlax-giga {background-position:-136px -1288px}
.pokemon-garbodor-giga {background-position:-204px -1288px}
.pokemon-melmetal-giga {background-position:-272px -1288px}
.pokemon-corviknight-giga {background-position:-340px -1288px}
.pokemon-orbeetle-giga {background-position:-408px -1288px}
.pokemon-drednaw-giga {background-position:-476px -1288px}
.pokemon-coalossal-giga {background-position:-544px -1288px}
.pokemon-flapple-giga {background-position:-612px -1288px}
.pokemon-appletun-giga {background-position:-680px -1288px}
.pokemon-sandaconda-giga {background-position:-748px -1288px}
.pokemon-toxtricity-giga {background-position:-816px -1288px}
.pokemon-centiskorch-giga {background-position:-884px -1288px}
.pokemon-hatterene-giga {background-position:-952px -1288px}
.pokemon-grimmsnarl-giga {background-position:-1020px -1288px}
.pokemon-alcremie-giga {background-position:-1088px -1288px}
.pokemon-copperajah-giga {background-position:-1156px -1288px}
.pokemon-duraludon-giga {background-position:-1224px -1288px}
